html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: $fuente_principal;
  margin-bottom: 60px;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1 ,h2 ,h3 {
  font-family: $fuente_principal;
}


textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}