.resize-none {
  resize: none;
}

.hide {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: gray;
  opacity: 0.6;
}

.boton {
  border: none;
  color: white;
}

.boton-green {
  background-color: $dark-green;
  &:hover {
    background-color: $green;
  }
}
.border-light-green {
  border: solid 1px;
  border-color: $light-green;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-light-red {
  background-color: $light-red;
}
.bg-light-yellow {
  background-color: $light-yellow;
}

.text-dark-green {
  color: darken($color: $light-green, $amount: 50%);
  &:hover {
    color: darken($color: $light-green, $amount: 50%);
  }
}
.text-dark-red {
  color: darken($color: $light-red, $amount: 50%);
  &:hover {
    color: darken($color: $light-red, $amount: 50%);
  }
}
.text-dark-yellow {
  color: darken($color: $light-yellow, $amount: 50%);
  &:hover {
    color: darken($color: $light-yellow, $amount: 50%);
  }
}