// Fuentes
$fuente_principal: 'Open Sans', sans-serif;

// Tamaño Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$green: #13322B;
$dark-green: #0C231E;
$light-green: #B6DDB5;
$light-red: #E5ACAC;
$light-yellow: #E1D195;




